/* Beispiel für die Einbindung zusätzlicher Schriftarten via Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');

html, body {margin: 0; height: 100%; overflow: hidden}
/* Beispiel für die einfache Einbindung eines Farbschema, generiert auf coolors.co */
:root {
    --turquoise-green: #b9e3c6ff;
    --ocean-green: #59c9a5ff;
    --ruby: #d81e5bff;
    --prussian-blue: #23395bff;
    --canary: #fffd98ff;
    --snow: #f7f2f4ff;
    --jet: #343434ff;

    /*flat ui colors turkish palette */
    --dorn-yellow: #fff200;
    --radiant-yellow: #ff9f1a;
    --red-orange: #ff3838;
    --spiro-disco-ball: #17c0eb;
    --light-purple: #c56cf0;
    /*flat ui colors dutch palette */
    --20000-feet-under-the-sea: #1B1464;
    --red-triade: #641b14;
    --green-comp: #B6D615;

    
    --primary: #008351;
    --prim-light: #4ab47e;
    --prim-dark: #005528;
    --secondary: #830032;
    --sec-light: #1a79ff;
    --sec-dark: #004ecb;

    --primary-text: #0000;  /*min 47% opacity*/
    --sec-dark-text: #ffff; /*min 52% opacity*/
}

.attachment-full {
    position: fixed;
    top: 0;
    left: 0;
}

.hidden {
    display: none !important;
}

body {
    background-color: var(--primary);
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    padding-right: 0px !important;
    overflow-y: auto;
}


  
  .clock {
    position: relative;
    width: 210px;
    margin: 15px auto;
}

.clock .face {
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #010104;
    border-radius: 50%;
    background-color: #FFF;
}

.clock .center {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #010104;
}

.clock .handle {
    position: absolute;
    width: 4px;
    height: 100px;
    top: 20px;
    left: 103px;
    transform-origin: 50% 85%;
    background: #010104;
    transform: rotateZ(0deg);
    
}

.clock .handle-animated {
    animation: rotate 60s infinite linear;
}
.big{
    width: 100%;
    height: 20%;
    margin: 0 auto;
}

.medium{
    width: 100%;
    height: 10%;
    margin: 0 auto;
}

.ui {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
}

.ui h1 {
    text-align: center;
    color: var(--primary-text);
}

.bgd-primary {
    background-color: var(--primary);
}

.bgd-dark {
    background-color: var(--prim-dark);
}


.bgd-light {
    background-color: var(--prim-light);
}

.bgd-secondary {
    background-color: var(--secondary);
}

.bgd-dark-s {
    background-color: var(--sec-dark);
}

.bgd-light-s {
    background-color: var(--sec-light);
}

img {
    max-width: 100%;
    max-height: 100%;
}

.picture {
    height: 230px;
    width: 230px;
}

.currentStandingPicture{
    height: 150;
    width: 150px;
}

/*this fixes website shaking because of scrollbar popping up in chrome*/
::-webkit-scrollbar { 
    width: 0px!important;
  } 

.btn-primary {
    background-color: var(--sec-light);
}

.card {
    width: 5cm;
    height: 5cm;
}

.promptField {
    font-weight: bold;
    font-size: x-large;
    color: white;
    background-color: black;
}

.padding-bottom{
    padding-bottom:100px;
}

.maxWidth {
    max-width: 850px;
}

.ratingWidth{
    padding-top: 10px;
    padding-left: 9%;
    max-width: 1000px; 
}

.leftcol{
    offset-position: 500px;
}

.col{
    position:relative;
    display: inline-block;
    float:left;
    padding-left: 20px;
}


.titlecol{
    position:relative;
    display: inline-block;
    float:left;
}

.firstcol{
    position:relative;
    display: inline-block;
    float:left;
    padding-right:70px;
}

.secondcol{
    position:relative;
    display: inline-block;
    float:left;
    padding-left: 70px;
}


.thirdcol{
    position:relative;
    display: inline-block;
    float:left;
    padding-left:120px;
}

.rateThisStoryBox {
    background-color: var(--sec-dark);
    color: white;
}

.ratingScaleMeme{
    border-radius: 10%;
}

.howWouldYouRateText{
    padding: 30px;
}

.signinbutton{
    color: white;
}

.toppadding{
    padding-top: 50px;
}

.toppadding_small{
    padding-top: 20px;
}

.toppadding_large{
    padding-top: 150px;
}

.currentStandingPic1{
    padding-left: 35%;
}
.currentStandingPic2{
    padding-left: 12%;
    padding-right: 0%;
}
.currentStandingPic3{
    padding-right: 0%;
    padding-left: 0%;
}

.currentStandingImageContainer{
    max-width: 90%;
}

.currentStandings{
    margin-top:0px;
    padding-top:0px;

    margin-bottm:0px;
    padding-bottom:0px;   
}

.noliststyle{
    list-style: none;
}

.leftpadding{
    padding-left: 20px;
}

.slider{
    padding-top: 5px;
}

.mgamepresents{
    padding-top: 50px;
    font-size: 30px;
    color:white;
}

.thegame{
    font-weight: bold;
    font-size: 70px;
    padding-bottom: 20px;
    padding-top: 20px;
    color:white;
}

.form-join {
    width: 100%;
    max-width:600px;
    padding: 15px;
    margin: 100 auto;
  }

.form-join .form-control {
position: relative;
box-sizing: border-box;
height: auto;
padding: 10px;
font-size: 16px;
}
.form-join .form-control:focus {
z-index: 2;
}

.whitetext{
    color:  white;
}

.blacktext{
    color: black;
}

.yellowbackground{
    background-color: yellow;
}

.copyright{
    padding-top: 130px;
}

.roundborder{
    border-radius: 2%
}

.thememegame{
    padding: 30px;
    font-weight: bold;
    font-size: 70px;
    color:white;
}

.startGameDivider{
    padding-left: 390px;
}